body {
    background-color: blanchedalmond;
    margin: 0%;
}

.header {
    width: auto;
    background-color: aquamarine;
    position: relative;
    height: 280px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.img-container {
    padding: 5px;
    width: 150px;
    margin: auto;
    height: 150px;
}

.img-container img {
    width: 100%;
    height: 100%;
}


/*.heading {
    margin: auto;
    background-color: hsl(36, 100%, 74%);
    width: auto;
}*/

.header p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}




.content-body {
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;

}

.recipe-1 {
    width: 380px;
    height: 500px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 12%;

}




.recipe-2 {
    width: 380px;
    height: 500px;
    display: inline-block;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 12%;

}


.recipe-3 {
    width: 380px;
    height: 500px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 12%;
}


.adjust-p {
    font-family: 'Smooch', cursive;
    font-size: 50px;
    height: auto;
    width: auto;
    background-color: black;
    opacity: 10%;
    color: hsl(133, 100%, 81%);
    margin-top: 350px;
    position: relative;
}

.adjust-p:hover {
    opacity: 100%;
    cursor: pointer;
}

.footer {
    width: auto;
    height: 116px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: rgb(43, 43, 43);
    align-content: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


.footer p {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(212, 211, 211);
    font-size: 40px;
    text-align: center;
    border-radius: 16%;
}


.design-by p {
    font-size: 20px;
    color: white;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.design-by a {
    text-decoration: none;
    color: rgb(253, 121, 121);
}